www/nsysu/node_modules
www/nsysu/public/hot
www/nsysu/public/storage
www/nsysu/public/css
www/nsysu/public/js
www/nsysu/public/mix-manifest.json
www/nsysu/public/fonts
www/nsysu/public/tiff/*.tiff
www/nsysu/public/tiff/*.tif
www/nsysu/public/tiff/*.xml

www/nsysu/storage/*.key
www/nsysu/storage/order
www/nsysu/vendor
www/nsysu/.idea
www/nsysu/.vscode
www/nsysu/.vagrant
www/nsysu/Homestead.json
www/nsysu/Homestead.yaml

laradock/logs/*
laradock/logs/nginx/*.log
www/nsysu/public/*.json
www/nsysu/public/mix-manifest.json
laradock/logs/nginx/laravel_access.log
laradock/logs/nginx/laravel_access.log.1
www/nsysu/public/*.json
www/down10/20200915.nc
www/down10/changeToXml.py
www/down10/OCM2.20200915.000.xml
www/down10/test.ipynb
www/down10/test.txt
www/down10/test2.ipynb
www/down10/train.txt
www/down10/xxx.txt
www/mongodb/getToMongo.ipynb
www/mongodb/tese.ipynb
