@media (max-width: 1439.98px) {
  .home {
    & > .logo {
      left: 25vw;
    }

    .about-bg-img {
      background-position: top 0px left -40%;
    }

    .about {
      .desc {
        width: 440px;
      }
    }

    .joinus-bg-img {
      background-position: top 0px left -70%;
    }

    .joinus {
      .desc {
        width: 440px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .home {
  }
}

@media (max-width: 1024px) {
  .home {
    .about-bg-img {
      background-position: top 0px left -100%;
    }

    .joinus-bg-img {
      background-position: top 0px left -250%;
    }
  }
}

@media (max-width: 991.98px) {
  .home {
    .banner {
      height: 280px;
    }

    & > .logo {
      height: 280px;
      width: calc(280px * 0.485);
      left: 20vw;
      top: 80px;
    }

    .block {
      .title {
        margin-top: 30px;
      }
    }

    .bg-img {
      background-size: cover;
      position: relative;
      background-position: bottom !important;
      height: calc(100vw * 0.625) !important;
    }

    .about-bg-img {
      background-image: url('/../images/about_m.jpg');
    }

    .activities-bg-img {
      background-image: url('/../images/activities_m.jpg');
    }

    .service-bg-img {
      background-image: url('/../images/service_m.jpg');
    }

    .service {
      background: transparent linear-gradient(0deg, #620c10 0%, #000000 100%) 0% 0% no-repeat padding-box;
    }

    .joinus-bg-img {
      background-image: url('/../images/joinus_m.jpg');
    }

    .faq-bg-img {
      background-image: url('/../images/faq_m.jpg');
    }

    .faq {
      background: transparent linear-gradient(0deg, #620c10 0%, #000000 100%) 0% 0% no-repeat padding-box;
    }

    .traffic {
      .map {
        width: calc(100% - 52px);
        height: 400px;
        iframe {
          width: 100%;
          height: 380px;
        }
      }
    }
  }

  .news-page {
    .news-list {
      width: 620px;
      .news-card {
        &:nth-child(3n) {
          margin-right: 20px;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }

  .activities-page {
    .body {
      .tab-wrap {
        width: 90%;
        height: 50px;
        @include font-size(16);
        .tab-item {
          line-height: 50px;
        }
      }

      .photo-list-wrap,
      .media-list-wrap {
        width: 620px;
      }

      .list-wrap-item {
        &:nth-child(2n) {
          margin-right: 0px;
        }
        &:nth-child(3n) {
          margin-right: 20px;
        }
      }
    }
  }

  .traffic-page {
    .body {
      .map {
        width: calc(100% - 52px);
        height: 400px;
        iframe {
          width: 100%;
          height: 380px;
        }
      }
      .info {
        width: calc(100% - 52px);
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .home {
    .news {
      .card-wrap {
        .news-card {
          width: calc((100vw - 110px) / 3);
          &__header {
            width: calc((100vw - 110px) / 3);
            height: calc((100vw - 110px) / 3 * 0.633);
            .img {
              width: calc((100vw - 140px) / 3);
              height: calc((100vw - 140px) / 3 * 0.617);
            }
          }
        }
      }
    }

    .activities {
      .activities-list {
        width: calc(90%);
        .activities-item {
          width: calc((90vw - 40px) / 3);
          height: calc((90vw - 40px) / 3 * 0.633);
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .home {
    .banner {
      height: 247px;
    }

    & > .logo {
      top: 50px;
      left: 15vw;
    }
  }
}

@media (max-width: 705px) {
  .news-page {
    .news-list {
      width: 300px;
      .news-card {
        margin-right: 0 !important;
      }
    }
  }

  .joinus-page,
  .about-page,
  .news-detail-page {
    .body {
      .img-wrap {
        width: 90vw;
        height: calc(90vw * 0.629);
        .img {
          width: calc(90vw - 20px);
          height: calc((90vw - 30px) * 0.629);
        }
      }

      .info-wrap {
        width: 90vw;
      }
    }
  }

  .activities-page {
    .body {
      .photo-list-wrap,
      .media-list-wrap {
        width: 300px;
      }

      .list-wrap-item {
        margin-right: 0px !important;
      }
    }
  }

  .el-image-viewer__wrapper {
    .el-image-viewer__close {
      top: 10px;
      right: 10px;
    }
    .el-image-viewer__next,
    .el-image-viewer__prev {
      width: 40px;
      height: 40px;
      @include font-size(32);
      background-color: $black;
    }
    .el-image-viewer__next {
      right: 5px;
    }
    .el-image-viewer__prev {
      left: 5px;
    }
    .el-image-viewer__canvas {
      img {
        max-width: 90% !important;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .home {
    & > .logo {
      left: 3vw;
    }

    .block {
      padding-top: 5px;
      padding-bottom: 5px;
      & > .title {
        @include font-size(20);
        width: calc(100vw - 52px);
      }
    }

    .news {
      .card-wrap {
        flex-direction: column;
        align-items: center;
        .news-card {
          width: calc(100vw - 40px);
          margin-right: 0;
          margin-top: 0;
          margin-bottom: 30px;
          &:nth-child(1) {
            margin-top: -35px;
          }
          &__header {
            width: calc(100vw - 40px);
            height: calc((100vw - 40px) * 0.633);
            .img {
              width: calc(100vw - 50px);
              height: calc((100vw - 50px) * 0.617);
            }
          }
        }
      }
    }
    .about-bg-img {
      margin-top: 50px;
    }
    .about,
    .joinus {
      .desc {
        width: calc(100vw - 52px);
      }
    }
    .service,
    .faq {
      min-height: 366px;
    }

    .traffic {
      min-height: 580px;
    }

    .activities {
      padding-bottom: 35px;
      .activities-list {
        margin: 0 auto 15px auto;
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        .activities-item {
          width: calc(90vw - 40px);
          height: calc((90vw - 40px) * 0.633);
          margin-right: 0 !important;
          margin-bottom: 20px;
        }
      }
      .btn-wrap {
        margin: 0 auto 20px;
      }
    }
  }

  .coming-soon {
    width: 200px;
    height: 177px;
  }

  .contact-form {
    width: calc(100% - 52px);
    .desc {
      @include font-size(16);
    }
    .input-inline {
      display: block;
      label {
        &:first-child {
          margin-right: 0px;
        }
      }
    }
    .form-submit-btn{
        margin: 20px auto 30px;
    }
  }

  .news-page {
    .news-list {
      .news-card {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
}
