.el-date-editor .el-range-separator {
    padding: 0px;
}

.el-radio {
    white-space: inherit !important;
    line-height: initial !important;
}

.el-collapse-item__header {
    height: inherit !important;
    line-height: inherit !important;
}

.el-range-separator {
    padding: 0 !important;
}

.el-transfer-panel {
    width: 300px !important;
}